/* CSS cho Project.css */

.project-container {
    background-color: black;
    color: #fff;
    height: max-content;
    padding: 2rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 1rem;
    /* Khoảng cách giữa video và phần info */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Phần thông tin sản phẩm */
.product-info {
    margin-top: 1rem;
    /* Khoảng cách giữa video và phần thông tin */
    padding-bottom: 1rem;
    /* Giữ khoảng cách giữa các phần tử sản phẩm */
}

.product-title {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    /* Kích thước logo tròn */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.product-name {
    color: #fff;
}

.product-description {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #d1d1d1;
    line-height: 1.4;
}

/* Điều chỉnh cho màn hình nhỏ */
@media only screen and (max-width: 768px) {
    .project-container {
        padding: 1rem;
    }

    .project-selector {
        width: 100%;
        margin-top: 2rem;
    }

    .video-container iframe {
        width: 100%;
        height: 200px;
    }

    .product-title {
        font-size: 1rem;
        /* Giảm kích thước chữ trên màn hình nhỏ */
    }

    .logo-image {
        width: 30px;
        /* Logo nhỏ hơn trên mobile */
        height: 30px;
        margin-right: 8px;
    }

    .product-description {
        font-size: 0.9rem;
        /* Giảm kích thước chữ cho mô tả */
    }
}