.content {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    /* height: ; */
    /* Đảm bảo chiếm toàn bộ chiều cao màn hình */
}